<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Database viewer</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/css/simple-sidebar.css">
	<link rel="stylesheet" type="text/css" href="/css/dbviewer.css">

</head>

<body>

	<div class="d-flex" id="wrapper">
		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">Door Gate </div>
			<div class="list-group list-group-flush">
				<a href="/monitor" class="list-group-item list-group-item-action bg-light">Monitor</a>
				<a href="/dbviewer" class="list-group-item list-group-item-action bg-light">Database viewer</a>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<button class="btn" id="btnMenu">Menu</button>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<button class="btn btn-danger" id="logout" value="logout">Logout</button>
						</li>
					</ul>
				</div>
			</nav>
			<div class="container-fluid mt-2">
				<div class="col-md-14">
					<div class="card card-user">
						<div class="card-header">
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<h5 class="card-title mt-3">Edit Profile</h5>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group mt-1">
										<input class="form-control" type="search" placeholder="Search"
											aria-label="Search" id="search-input">
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<form>
								<!-- <div class="row">
									<div class="col-md-5 pr-1">
										<div class="form-group">
											<label>Company (disabled)</label>
											<input type="text" class="form-control" disabled="" placeholder="Company"
												value="Creative Code Inc.">
										</div>
									</div>
									<div class="col-md-3 px-1">
										<div class="form-group">
											<label>Username</label>
											<input type="text" class="form-control" placeholder="Username"
												value="michael23">
										</div>
									</div>
									<div class="col-md-4 pl-1">
										<div class="form-group">
											<label for="exampleInputEmail1">Email address</label>
											<input type="email" class="form-control" placeholder="Email">
										</div>
									</div>
								</div> -->
								<div class="row">
									<div class="col-md-6 pr-1">
										<div class="form-group">
											<label>Name</label>
											<input type="text" class="form-control" value="""  id="txbName">
										</div>
									</div>
									<div class="col-md-6 pl-1">
										<div class="form-group">
											<label>Phone</label>
											<input type="text" class="form-control" value="" id="txbPhone">
										</div>
									</div>
								</div>
								<div class="row">
										<div class="col-md-6 pr-1">
											<div class="form-group">
												<label>Avatar</label>
												<input type="text" class="form-control" value="" id="txbAvatar">
											</div>
										</div>
										<div class="col-md-6 pl-1">
											<div class="form-group">
												<label>RFID</label>
												<input type="text" class="form-control" value="" id="txbRfid">
											</div>
										</div>
									</div>
									<div class="row">
											<div class="col-md-6 pr-1">
												<div class="form-group">
													<label>Password</label>
													<input type="text" class="form-control" value="" id="txbPassword">
												</div>
											</div>
											<div class="col-md-6 pl-1">
												<div class="form-group">
													<label>Flash address</label>
													<input type="text" class="form-control" value="" id="txbFlashAddress">
												</div>
											</div>
										</div>
								<div class="row">
									<div class="ml-auto mr-auto">
										<button class="btn btn-primary" id="btnUpdate">Update Profile</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Bootstrap core JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
	<script src="/js/dbviewer.js"></script>
</body>

</html>