<!DOCTYPE html>
<html lang="en">

<head>
	<title>Monitor</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/monitor.css">
	<!--===============================================================================================-->
</head>

<body>
	<label>CONSOLE</label>
	<textarea class="form-control" rows="7" disabled></textarea>
	<div class="container-fluid">
		<div class="row">
			<button type="button" class="col-md-4 my-btn" value="open">Open</button>
			<button type="button" class="col-md-4 my-btn" value="close">Close</button>
			<button type="button" class="col-md-4 my-btn" value="stop">Stop</button>
		</div>
	</div>
	<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/js/monitor.js"></script>
</body>

</html>