<!DOCTYPE html>
<html lang="en">

<head>
	<title>Monitor</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/monitor.css">
	<!--===============================================================================================-->
</head>

<body>
	<div class="container-fluid ">
		<div class="row">
			<label class="col-md-10 text-left"> DOOR STATE: 
				<label id="doorState">CLOSE</label>
			</label>
			<button type="button" class="col-md-2 btn btn-danger" value="logout">Logout</button>
		</div>
	</div>
	<textarea class="form-control" rows="3" disabled></textarea>
	<div class="container-fluid">
		<div class="row">
			<button type="button" class="col-md-4 my-btn" value="open">Open</button>
			<button type="button" class="col-md-4 my-btn" value="close">Close</button>
			<button type="button" class="col-md-4 my-btn" value="stop">Stop</button>
		</div>
	</div>
	<div class="col-md-4 container-fluid">
		<div class="input-group">
			<input type="number" class="form-control" placeholder="Hour" id="hourOpen">
			<input type="number" class="form-control" placeholder="Minute" id="minuteOpen">
			<button type="button" class="col-md-4 my-btn" value="setOpenTime">Set time to open</button>
			
		</div>
	</div>
	<div class="col-md-4 container-fluid">
		<div class="input-group">
				<input type="number" class="form-control" placeholder="Hour" id="hourClose">
				<input type="number" class="form-control" placeholder="Minute" id="minuteClose">
				<button type="button" class="col-md-4 my-btn" value="setCloseTime">Set time to close</button>
		</div>
	</div>

	<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/js/monitor.js"></script>
</body>

</html>