<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Monthly payment</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/css/simple-sidebar.css">
	<link rel="stylesheet" type="text/css" href="/css/payment.css">

</head>

<body>

	<div class="d-flex" id="wrapper">
		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">Doorgate </div>
			<div class="list-group list-group-flush">
				<a href="/doorController" class="list-group-item list-group-item-action bg-light">Door controller</a>
				<a href="/setting" class="list-group-item list-group-item-action bg-light">Door setting</a>
				<a href="/log" class="list-group-item list-group-item-action bg-light">Log viewer</a>
				<a href="/dbViewer" class="list-group-item list-group-item-action bg-light">Database viewer</a>
				<a href="/payment" class="list-group-item list-group-item-action bg-light">Monthly payment</a>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<button class="btn" id="btnMenu">Menu</button>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<button class="btn btn-danger" id="logout" value="logout">Logout</button>
						</li>
					</ul>
				</div>
			</nav>
			<div class="container-fluid mt-2">
				<div class="col-md-14">
					<div class="card card-user">
						<div class="card-header">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group mt-1">
										<input class="form-control" type="search" placeholder="Room number"
											aria-label="Search" id="search-input">
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<form>
								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label class="red-label" id="curMon">Current month</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 pr-1">
										<div class="form-group">
											<label>Electric</label>
											<input type="text" class="form-control" value="" id="txbCurElc" readonly="readonly">
										</div>
									</div>
									<div class="col-md-4 pl-1">
										<div class="form-group">
											<label>Water</label>
											<input type="text" class="form-control" value="" id="txbCurWtr" readonly="readonly">
										</div>
									</div>
									<div class="col-md-4 pl-1">
										<div class="form-group">
											<label>Date modified</label>
											<input type="text" class="form-control" value="" id="txbCurMdf" readonly="readonly">
										</div>
									</div>
								</div>
							</form>
							<form>
								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label class="red-label" id="preMon">Previous month</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 pr-1">
										<div class="form-group">
											<label>Electric</label>
											<input type="text" class="form-control" value="""  id="txbPreElc" readonly="readonly">
										</div>
									</div>
									<div class="col-md-4 pl-1">
										<div class="form-group">
											<label>Water</label>
											<input type="text" class="form-control" value="" id="txbPreWtr" readonly="readonly">
										</div>
									</div>
									<div class="col-md-4 pl-1">
										<div class="form-group">
											<label>Date modified</label>
											<input type="text" class="form-control" value="" id="txbPreMdf" readonly="readonly">
										</div>
									</div>
								</div>
							</form>
							<form>
								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label class="red-label">Payment</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 pr-1">
										<div class="form-group">
											<label>Room charge</label>
											<input type="text" class="form-control" value="""  id="txbRoomCharge">
										</div>
									</div>
									<div class="col-md-4 pl-1">
										<div class="form-group">
											<label>Total charge</label>
											<input type="text" class="form-control" value="" id="txbTotalCharge">
										</div>
									</div>
									<div class="col-md-4 pl-1">
										<div class="form-group">
											<label>Date Confirmed</label>
											<input type="text" class="form-control" value="" id="txbDtCfm" readonly="readonly">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="ml-auto mr-auto">
										<button class="my-btn" id="btnConfirm">Confirm</button>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Bootstrap core JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
	<script src="/js/payment.js"></script>
</body>

</html>